*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
body{
 background-color:rgb(235, 235, 235);
 
}
.btn button{
    border-radius: 5px;
    background-color: rgb(150, 150, 150);
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
}
nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding-bottom: 5px;
    padding-top: 5px;
}
nav .list a{
    text-decoration: none;
    padding: 10px 10px 5px 50px;

}
nav .list{
    list-style: none;
    display: flex;
}
.cla{
    padding-left: 20px;
}
.login{
    
    background-color: blue;
    width: fit-content;
    text-align: center;
}
nav .btn{
    padding-right: 30px;
}
.list li a:hover{
    color: chartreuse;
}