*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.Animal{
    background-color: rgb(129, 211, 211);
    display: flex;
    justify-content:space-around;  
}
.image{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:100px;
}
.name{
    margin-top: 50px;
    margin-right: 20px;
}
.vedio{
    margin-top: 30px;
}
.name audio{
    margin-top: 30px;
    margin-left: 50px;
}
.bird{
    background-color: rgba(247, 152, 191, 0.973);
    display: flex;
    justify-content:space-around;  
}
.doveimage{
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 100px;
}
.dovename{
    margin-top: 30px;
    margin-right: 20px;
}
.dovevedio{
    margin-top: 30px;
    margin-left: 30px;
}
.dovename audio{
    margin-top: 20px;
}
.tree{
    background-color: rgba(145, 231, 138, 0.753);
    display: flex;
    justify-content:space-around;  
}
.treeimage{
    margin-top: 35px;
    margin-bottom: 40px;
    margin-right:100px;
}
.treename{
    margin-top: 30px;
    margin-right: 20px;
}
.treevedio{
    margin-top: 30px;
}
.treename audio{
    margin-top: 30px;
}